html, body {
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#fullpage {
  min-height: 100vh;
}

ul{
  list-style-type: none;
}

a{
  color: white;
}

h2, h3, h4, h1, p{
  margin: 0;
  padding: 2px 0;
}

h1{
  font-size: 25px;
}

h2{
  text-align: center;
  border-radius: 15px;
  font-weight: 400;
  font-size: 23px;
}

.row{
  display: flex;
  width: 100%;
  align-items: center;
}

.col{
  width: 50%;
}

.field-container{
}

label{
  margin: 20px 0 10px 0;
}

#stylePicker{
  position: absolute;
  top: 2px;
  left: 2px;
  top: 11px;
  left: 20px;
}

section.main{
  width: 100%;
  height: 100%;
}

.section {
  position: relative;
  z-index: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  animation: fade-in-partial 7s forwards;
  z-index: -1;
}

.section:nth-child(1)::before {
  background-image: url(https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3870&q=80);
}

.section:nth-child(3)::before {
  background-image: url(https://plus.unsplash.com/premium_photo-1681400521239-676868f20d83?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2274&q=80);
}

.section:nth-child(2)::before {
  background-image: url(https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2652&q=80);
}

.section:nth-child(4)::before {
  background-image: url(https://images.unsplash.com/photo-1516738901171-8eb4fc13bd20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
}

.section:nth-child(5)::before {
  background-image: url(https://images.unsplash.com/photo-1587190612551-6ae2b5a59951?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2670&q=80);
}


@keyframes fade-in-partial {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.fp-overflow{
  overflow-x: hidden;
  position: relative;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 15px;
}

.section .confirm-container{
  border: none;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  padding: 0;
  margin: 20px 0;
  background: white;
  border-radius: 10px;
}

.section:nth-child(odd) {
  background-color: #f2f2f2;
}

.section:nth-child(even) {
  background-color: #fff;
}

.section:nth-child(odd) h2 {
  background-color: #fff;
}

.section:nth-child(even) h2 {
  background-color: #f2f2f2;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.picsum-image img{
  border-radius: 50%;
}

.title{
  font-weight: 700;
}

.toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  animation-name: fadeInScale;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  text-align: left;
  width: 350px;
  height: 150px;
}

.toast .col:nth-child(1){
  width: 175px;
  padding-right: 25px;
}

.toast .col:nth-child(2){
  width: 150px;
}

.toast h2 {
  text-align: left;
  font-size: 20px;
}

.toast img{
  width: 150px;
}

.topbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  background: white;
  transition: all 0.5s;
}

.topbar.mini {
  height: 44px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.1);
}

.topbar.mini .controls, .topbar.mini select {
  display: none;
}

.topbar .controls{
  display: flex;
  width: auto;
  position: absolute;
  right: 20px;
  white-space: nowrap;
}

.summary-container h3{
  background: transparent;
  color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.summary-container.active{
  outline: 1px solid lightgray;
}

.section-summary-last{
  width: 100%;
  height: 100vh;
  cursor: default;
}

.section-summary-last ul{
  list-style-type: decimal;
}

.section-summary-last ul li:hover{
  background: #f2f2f2;
  cursor: pointer;
}

.section-summary-last .row{
  align-items: flex-start;
  margin: 0;
}

.section-summary-last ul{
  flex-grow: 1;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 20px;
    margin: 0;
}

.section-summary-last ul li {
  font-size: 17px !important;
  line-height: 1.5 !important;
}

.section-summary-last img{
  max-width: 420px;
  height: 400px;
}

.section-summary-last p{
  padding: 0 0 15px 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.topbar h1{
  font-size: 18px;
}

h1{
  font-size: 55px;
}

.section-summary-last .page-summary{
  width: 33%;
  min-width: 480px;
}

.section-summary-last .page-summary .field-values-list{
  max-height: 400px;
  overflow-y: auto;
  padding-left: 25px;
}



.summary-list-wrapper {
  position: fixed;
  top: 100px;
  left: 0;
}

.summary-list {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 20px;
} 

.summary-list .toggle::after {
  content: '<<';
  position: absolute;
  right: 20px;
  top: 0;
  width: 20px;
  height: 21px;
  background: transparent;
  cursor: pointer;
  color: gray;
  text-align: center;
  transition: background 1s;
  border-radius: 50%;
}

.summary-list:hover .toggle::after  {
  color: black;
}  

.summary-list .toggle:hover::after  {
  background: rgba(255,255,255,0.5);
}

.summary-list .toggle:active::after  {
  color: darkcyan;
  background: rgba(255,255,255,1);
}

.summary-list.minimized {
  background: #e6e6e6;
  width: 60px !important;
  height: 60px;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary-list.minimized .toggle::after {
  content: '>>' !important;
}

.summary-list.minimized .stats, .minimized .summary-container {
  display: none;
}

.summary-list.minimized .toggle{
  position: relative;
  width: 60px;
  height: 20px;
  font-weight: 700;
}

.stats{
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}

.summary-list:hover::after {
  opacity: 1;
}

.summary-list .summary-container {
  cursor: pointer;
  animation: pop-in 0.5s forwards;
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.summary-list .summary-container.summary-last{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: olivedrab;
  color: white;
  animation-delay: 1.2s;
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.055);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(1000);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes fadeInScale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
