html, body {
  font-family: 'Red Hat Text', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#fullpage {
  min-height: 100vh;
}

ul{
  list-style-type: none;
}

a{
  color: white;
}

h2, h3, h4, h1, p{
  margin: 0;
  padding: 2px 0;
}

h1{
  font-size: 25px;
}

h2{
  text-align: center;
  border-radius: 15px;
  font-weight: 400;
  font-size: 23px;
}

.row{
  display: flex;
  width: 100%;
  align-items: center;
}

.col{
  width: 50%;
}

#stylePicker{
  position: absolute;
  top: 2px;
  left: 2px;
  top: 11px;
  left: 20px;
}

section.main{
  width: 100%;
  height: 100%;
}
.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.fp-overflow{
  overflow-x: hidden;
  position: relative;
}

.section .confirm-container{
  border: none;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  padding: 0;
  margin: 20px 0;
}

.section:nth-child(odd) {
  background-color: #f2f2f2;
}

.section:nth-child(even) {
  background-color: #fff;
}

.section:nth-child(odd) h2 {
  background-color: #fff;
}

.section:nth-child(even) h2 {
  background-color: #f2f2f2;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.picsum-image img{
  border-radius: 50%;
}

.title{
  font-weight: 700;
}

.toast {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  animation-name: fadeInScale;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  text-align: left;
  width: 350px;
  height: 150px;
}

.toast .col:nth-child(1){
  width: 175px;
  padding-right: 25px;
}

.toast .col:nth-child(2){
  width: 150px;
}

.toast h2 {
  text-align: left;
  font-size: 20px;
}

.toast img{
  width: 150px;
}


.topbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  background: white;
}

.topbar .controls{
  display: flex;
  width: auto;
  position: absolute;
  right: 20px;
  white-space: nowrap;
}


.summary-container h3{
  background: transparent;
  color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.summary-container.active{
  outline: 1px solid lightgray;
}

.section-summary-last{
  width: 100%;
  height: 100vh;
  cursor: default;
}

.section-summary-last .row{
  align-items: flex-start;
  margin: 0;
}

.section-summary-last ul{
  flex-grow: 1;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
    margin: 0;
}

.section-summary-last ul li {
  font-size: 17px !important;
  line-height: 1.5 !important;
}

.section-summary-last img{
  max-width: 380px;
  height: 380px;
}
.section-summary-last p{
  padding: 0 0 15px 0;
}
.section-summary-last h1{
  margin-bottom: 10px;
}

.section-summary-last .page-summary{
    width: 33%;
    min-width: 480px;
}

.section-summary-last .page-summary .field-values-list{
  max-height: 400px;
  overflow-y: auto;
}



.summary-list-wrapper {
  position: fixed;
  top: 100px;
    left: 0;
}

.summary-list {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 20px;
} 

.summary-list .toggle::after {
content: '<<';
position: absolute;
right: 20px;
top: 0;
width: 20px;
height: 30px;
background: transparent;
cursor: pointer;
color: gray;
text-align: center;
}

.summary-list .toggle:hover::after  {
  color: black;

}

.minimized{
  width: 40px !important;
  height: 40px !important;
  overflow: hidden;
  background: #e6e6e6;
}

.minimized .stats, .minimized .field-values-list{
  display: none;
}

.stats{
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}

.minimized .toggle::after {
  content: '>>' !important;
}

.summary-list:hover::after {
  opacity: 1;
}

.summary-list .summary-container {
  cursor: pointer;
}

.summary-last{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: olivedrab;
  color: white;
}




.fade-out {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(1000);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes fadeInScale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
