
.summary-container{
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  cursor: pointer;
  padding: 0 20px;
  margin: 0;
  position: relative;
}

.summary-container ul {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.summary-container ul li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  min-width: 145px;
  margin: 0px;
}

.summary-container img{
  display: none;
}

.summary-container.center .row {
  width: auto;
}

.summary-container.center{
  position: absolute;
  width: 320px;
  display: flex;
  justify-content: center;
}

.summary-last{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: olivedrab;
  color: white;
}
.summary-last:hover{
  text-decoration: underline;
}


.summary-container .tooltip {
  display: none;
}