

.summary-list {
  position: fixed;
  top: 100px;
  z-index: 20;
  display: flex;
  flex-direction: column;
    left: 0;
    padding: 20px;
} 

.summary-container{
  z-index: 2;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  border-radius: 15px;
  padding: 2px;
}

.summary-list .summary-container {
  cursor: pointer;
}

.summary-container.center{
  position: absolute;
  width: 320px;
  display: flex;
  justify-content: center;
}

.summary-container.left{
  width:  350px;
  position: relative;
  margin-bottom: 11px;
}

.summary-container img{
  border-radius: 15px;
  margin-right: 15px;
      width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

.summary-container ul {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 290px;
  margin-left: 5px;
}

.summary-container ul li{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  min-width: 145px;
  margin: 0px;
  max-height: 100px;
  overflow-y: auto;
  line-height: 1.25;
}

.summary-container.left:hover{
  outline: 1px solid aqua;
}

.summary-container .tooltip {
  display: none;
}

.summary-last{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: olivedrab;
  color: white;
  display: flex;
  animation-delay: 0.1s;
  width: 315px;
  padding: 10px 20px;
}

.summary-container h3{
  background: transparent;
  color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}